<div id="wrapper">


	<div id="header">
		<h1>CV</h1>
	</div>
		<div class="row">
		<!-- This is the left section of the page. -->
		<div class="col-md-12">
	<div id="section">
		<div id="embedded_pdf">
			<embed src="./assets/docs/Alexander John Toop CV.pdf" width="768px"
			height="605px" type='application/pdf'>
		</div>

	
	
		<div id="centered_text">
			<p>Note: Some personal information has been removed from this
			copy of my CV due to its online publishing.</p>
		</div>
	</div>
</div>
</div>

</div>