<div id ="wrapper">


	<div id="header">
		<h1>About</h1>
	</div>

	<div class="row">
		<!-- This is the left section of the page. -->
		<div class="col-md-12">
					
			<div id="about_section">
				<h2>
					My Drive.
				</h2>
				<p>
					Challenges are what drives me. Be it a challenge I set myself, or a challenge my work presents me with, I enjoy the process of working towards that goal and achieving it. 
				</p>
				<p>
					Programming is not only my career, but also one of my favourite hobbies. I enjoy spending much of my time working on pet projects and learning new languages and tools. 
				</p>


				<h2>
					Experience and Qualifications.
				</h2>
				<p>
					Achieved grades BBBD in Computing, Mathematics, General Studies and Physics at A-Level. 
				</p>
				<p>
					[In-Progress] BCS Accredited Software Engineering Bachelors Degree (4Yr Integrated Industrial Year) Aberystwyth University.
				</p>
				<p>
					[In-Progress] AWS Certified Cloud Practitioner.
				</p>
				<p>
					Currently employed in BT Consumer as a Software Developer. 
				</p>
				
				<img src="./assets/img/Aberystwyth_Looking_Out.jpg" alt="Aberystwyth Looking Out Image" class="img2" />
			</div>
		</div>
	</div>
</div>