<div id="wrapper">

	<div id="header">
		<h1>Alexander John Toop</h1>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<h2>Me.</h2>
			<p>
				I'm an Undergraduate Software Engineer currently employed by BT as an industrial placement student. I study at Aberystwyth University,
				I'm in my third year of study with one year of study remaining for my Bachelor's degree.
			</p>
			<p>
				I mainly work developing the Java backend for an intelligent pre-sales web application, taking user story requirements, implementing and then ensuring thorough testing. 
				I've also starting picking up Angular and Javascript to help out with the project.
			</p>

			<h2>Projects.</h2>
			<p>Java Coding Test - Router Patch Tester.</p>
			<p>Arduino Hardware and Programming.</p>
			<p>Swift Xcode App Development.</p>
			<p>
				<em>See <a routerLink="/projects">'Projects'</a> for more.
				</em>
			</p>
			
		</div>

		<div class="col-md-6">

			<ngb-carousel> 
				<ng-template ngbSlide> 
					<img src="./assets/img/Aberystwyth_Dock_Hipster.jpg" alt="Random first slide" class="img1"> 
				</ng-template> 
				<ng-template ngbSlide>
					<img src="./assets/img/Aberystwyth_Looking_Out.jpg" alt="Random second slide" class="img1"> 
				</ng-template> 
			</ngb-carousel>

			<h2>Hobbies.</h2>
			<p>
				I'm a keen technology enthusiast who loves to spend time outside of work working on Arduino and Raspberry Pi projects (some of the code I've worked on is included
				in the 'Projects section of this website!). 
			</p>
			<p>
				I'm very dedicated to practising Shotokan Karate and helping with classes in my local area, with experience running my Universities Karate classes and training with 
				some of the best teachers available. 
			</p>
		</div>

	</div>
	<img src="./assets/img/Aberystwyth_Karate_Club_Stall.jpg"
	alt="Aberystwyth Karate Stall Image" class="img4"/>
</div>

